body{
    background-color: #FFD93D;

}
.body{
    background-color: #F6F1E9;
    border: 3px solid ;
    box-shadow: 5px 5px;
    border-radius: 20px;
    margin: 80px;
    margin-top: 60px;
    word-wrap: break-word;
}

h1 h3 h2 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 60px;
    
       
     }

@media (max-width: 991px){
.body{margin: 20px;
          margin-top: 20px;
    }
    h1{
        font-size: 30px;
    }
.features{
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: auto;
        height: auto;
        margin: 20px;
    }
}
@media (max-width: 280px){
    .tushar{
      display: none;
    }
    .header{
        width: 100px;
        height: auto;
    }

}
.paragraph{
    font-family: Arial, Helvetica, sans-serif;
}
.primary-button{
    background-color: #ff8400;
    border-radius: 30px;
    box-shadow: 2px 2px;
    border: 3px solid;
    color: black;
}
.btn2{
    background-color: #4f200d;
    border-radius: 30px;
    box-shadow: 2px 2px black;
    border: 3px solid black;
    color: rgb(202, 202, 202);
    
}
.btn2:hover{
    transform: translate(-4px,-4px);
    box-shadow: 6px 6px #000000;
    background-color: #FFD93D;
    border:3px solid black;
    color: #000000;
}
.btn3{
    background-color: #FFD93D;
    border-radius: 30px;
    box-shadow: 2px 2px black;
    border: 3px solid black;
    color: black;
    
}
.btn3:hover{
    transform: translate(-4px,-4px);
    box-shadow: 6px 6px #000000;
    background-color: #ff8400;
    border:3px solid black;
    color: #000000;
}

.navbar-toggler{
    background-color: #FFD93D;
    border-radius: 30px;
    box-shadow: 2px 2px black;
    border: 3px solid;
    color: black;
   
}

.navbar-toggler:hover{
    transform: translate(-4px,-4px);
    box-shadow: 6px 6px #000000;
    background-color: #ff8400;
    border:3px solid;}

.primary-button:hover{
    transform: translate(-4px,-4px);
    box-shadow: 6px 6px #000000;
    background-color: #FFD93D;
    border:3px solid;
}


.box{
    background-color: white;
    border-radius: .75rem;
    box-shadow: 5px 5px;
    border: 3px solid;
    color: black;
    padding: 20px;
}
.box:hover {
    transform: translate(-4px,-4px);
    color: #F6F1E9;
    box-shadow: 6px 6px #000000;
    background-color: #4f200d;
    border:3px solid;
}

.fa {
    
    font-size: 30px;
    width: 60px;
    text-align: center;
  }
.fa:hover {
  opacity: 0.7;
}
.social{ 
    background-color: wheat;
    border-radius: .75rem;
    box-shadow: 5px 5px;
    border: 3px solid;
    color: black;
    padding: 20px;
    position: relative;
    margin-right: 50px;
}
