body{
    background-color: #FFD93D;

}
.body{
    background-color: white;
    border: 3px solid ;
    box-shadow: 5px 5px;
    border-radius: 20px;
    word-wrap: break-word;
    margin: 2px;

    
}


h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 60px;
    
       
     }

.tushar{
   
    filter: drop-shadow(5px 5px 0 black)
     drop-shadow(0px 2px 0 black) 
     drop-shadow(-2px -0px 0 black) 
     drop-shadow(-0px -2px 0 black);
}




@media (max-width: 768px){
    }
    h1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: normal;
        font-size: 40px;
    }
.features{
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: auto;
        height: auto;
        margin: 20px;
    }
        
}
@media (max-width: 280px){
    .tushar{
      display: none;
    }
    .btn{
        display: none;
    }
    .header{
        width: 100px;
    }

}
.paragraph{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn{
    background-color: #FF8400;
    border-radius: 30px;
    box-shadow: 5px 5px;
    border: 3px solid;
    color: black;
}

.primary-button:hover {
    transform: translate(-4px,-4px);
    box-shadow: 6px 6px #000000;
    background-color: #FFD93D;
    border:3px solid;
}


.box{
    background-color: white;
    border-radius: .75rem;
    box-shadow: 5px 5px;
    border: 3px solid;
    color: black;
    padding: 20px;
}
.box:hover {
    transform: translate(-4px,-4px);
    box-shadow: 6px 6px #000000;
    background-color: #4f200d;
    border:3px solid;
}
